html, body{
    overflow: auto;
}

.main-wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 10%;
    background-color: #d8d8d8;
    border-radius: 10px;
}
.index-wrapper{
  width: 70%;
  position: relative;
  top: 15%;
  margin: 0 auto;
  padding: 15% 10% 15% 10%;
}
.error, .error-custom{
	color:red;
}
.modal_custom_content_container{
    padding: 20px;
    text-align:center;
}
#ans_form_remove_confirm{
    position: fixed;
    display: none;
    z-index: 1;
}
