<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new firm</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
    <h1>Create</h1>
    <form id="firm_form">
        <label>Firmenname</label>
        <input type="text" name="name" placeholder="Firmenname" required><br>
        <label>Straße</label>
        <input type="text" name="strasse_hnr" placeholder="Straße Hausnummer" required><br>
        <label>Adresszusatz</label>
        <input type="text" name="adresszusatz" placeholder="Adresszusatz" required><br>
        <label>PLZ</label>
        <input type="text" name="plz" placeholder="PLZ" required><br>
        <label>Ort</label>
        <input type="text" name="ort" placeholder="Ort" required><br>
        <label>Website</label>
        <input type="text" name="website" placeholder="Website" required><br>
        <label>Erfassungsdatum</label>
        <input type="text" name="erfassungsdatum" placeholder="datum" required><br>
        <label>Land</label>
        <input type="text" name="land" placeholder="Land" required><br>
        <label>Branche</label>
        <select name="branche">
            <option>Kommunikation</option>
            <option>Telekom</option>
            <option>Software</option>
            <option>N/A</option>
        </select><br>
    </form>
    <h2>Ansprechpartner</h2>
    <form class="ansprechpartner_form">
        <label>Name</label><br>
        <input type="text" name="name" placeholder="Name"><br>
        <label>Anrede</label><br>
        <input type="radio" name="anrede" value="Herr"> Herr<br>
        <input type="radio" name="anrede" value="Frau"> Frau<br>
        <label>Titel</label><br>
        <input type="text" name="titel" placeholder="Titel"><br>
        <label>Funktion</label><br>
        <input type="text" name="funktion" placeholder="Funktion"><br>
        <label>Email</label><br>
        <input type="email" name="email" placeholder="Email"><br>
        <label>Fax</label><br>
        <input type="text" name="fax" placeholder="Fax"><br>
        <label>Telefon</label><br>
        <input type="text" name="telefon" placeholder="Telefon"><br>
    </form>
    <h2>Ansprechpartner</h2>
    <form class="ansprechpartner_form">
        <label>Name</label><br>
        <input type="text" name="name" placeholder="Name"><br>
        <label>Anrede</label><br>
        <input type="radio" name="anrede" value="Herr"> Herr<br>
        <input type="radio" name="anrede" value="Frau"> Frau<br>
        <label>Titel</label><br>
        <input type="text" name="titel" placeholder="Titel"><br>
        <label>Funktion</label><br>
        <input type="text" name="funktion" placeholder="Funktion"><br>
        <label>Email</label><br>
        <input type="email" name="email" placeholder="Email"><br>
        <label>Fax</label><br>
        <input type="text" name="fax" placeholder="Fax"><br>
        <label>Telefon</label><br>
        <input type="text" name="telefon" placeholder="Telefon"><br>
    </form>
    <h2>Ansprechpartner</h2>
    <form class="ansprechpartner_form">
        <label>Name</label><br>
        <input type="text" name="name" placeholder="Name"><br>
        <label>Anrede</label><br>
        <input type="radio" name="anrede" value="Herr"> Herr<br>
        <input type="radio" name="anrede" value="Frau"> Frau<br>
        <label>Titel</label><br>
        <input type="text" name="titel" placeholder="Titel"><br>
        <label>Funktion</label><br>
        <input type="text" name="funktion" placeholder="Funktion"><br>
        <label>Email</label><br>
        <input type="email" name="email" placeholder="Email"><br>
        <label>Fax</label><br>
        <input type="text" name="fax" placeholder="Fax"><br>
        <label>Telefon</label><br>
        <input type="text" name="telefon" placeholder="Telefon"><br>
    </form>
    <button id="create">Erstellen</button>
</body>
<script type="application/javascript">
    var firm_form = $("form#firm_form");
    var firm_obj = {};
    var ans = [];
    $('button#create').on('click',function(){
        $.each(firm_form.serializeArray(),function(index,element){
            firm_obj[element.name] = element.value;
        });
        $('.ansprechpartner_form').each(function(index, form) {
            var ans_obj = {}
            if(form[0].value != ""){
                $.each(form,function(i,data){
                    if(form[i].type == "radio" && form[i].checked){
                        ans_obj[form[i].name] = form[i].value;
                    }else if(form[i].type != "radio"){
                        ans_obj[form[i].name] = form[i].value;
                    }
                });
                ans.push(ans_obj);
            }
        });
        firm_obj['ansprechpartner'] = ans;
        $.ajax({
            type: "POST",
            url: "/firm/create",
            data: JSON.stringify(firm_obj),
            contentType: 'application/json',
            dataType: 'json'
        }).always(function(data){
            window.location.replace("/?create=true");
        });
    });
</script>
</html>