{% extends "base.html" %}
{% block content %}
{% include 'modals.html' %}
    <div class="container">
        <div class="main-wrapper">
            <h1 style="text-align:center;">Eine vorhandene Firma bearbeiten</h1>
            <label>Firma auswählen</label>
            <select id="firm_name" class="form-control">
            </select>
            {% include 'firm_form_template.html' %}
            {% include 'ansprechpartner_form_template.html' %}
            <!--                        FIRM FORM                          -->

            <div class="firm_form_container"></div>


            <!--                        ANSPRECHPARTNER FORM                          -->

            <div class="ansprechpartner_form_container"></div>
            <input type="checkbox" class="checkbox_ansprechpartner" id="ansprechpartner1_checkbox" data-id="1" disabled>Ansprechpartner 2<br>
            <input type="checkbox" class="checkbox_ansprechpartner" id="ansprechpartner2_checkbox" data-id="2" disabled>Ansprechpartner 3

        <div class="row justify-content-center">
            <div class="col-lg-auto">
                <button id="submit" class="btn btn-primary" disabled>Bearbeiten<i id="loading_spinner" style="display:none;" class="fa fa-cog fa-spin fa-1x fa-fw"></i></button>
                <button id="cancel_submit" class="btn btn-danger" onclick="window.location.href='/'">Abbrechen</button>
            </div>
        </div><br>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/populate.js') }}"></script>
<script src="{{ url_for('static', filename='js/autocomplete-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/ValidationUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/FormUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/FormChangesUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/FormObjectParser.js') }}"></script>
<script src="{{ url_for('static', filename='js/TimeUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_edit.js') }}"></script>
{% endblock %}
