{% extends "base.html" %}
{% block content %}

<!--    MODALS     -->
<div id="server_error_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal_custom_content_container">
          Etwas ist schiefgelaufen, bitte versuchen Sie später erneut
      </div>
    </div>
  </div>
</div>

<div id="invalid_input_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal_custom_content_container">
          Bitte prüfen Sie ihre Eingaben
      </div>
    </div>
  </div>
</div>

    <div class="container">
        <div class="main-wrapper">
            <h1 style="text-align:center;">Eine vorhandene Firma bearbeiten</h1>
            <label>Firma auswählen</label>
            <select id="firm_name" class="form-control">
            </select>
            <form id="firm_form" style="display:none;">
            <div class="form-group">
                <label>Firmenname</label>
                <input class="form-control" type="text" name="name" placeholder="Firmenname" required readonly>
            </div>
            <div class="form-group">
                <label>Straße</label>
                <input class="form-control" type="text" name="strasse_hnr" placeholder="Straße Hausnummer" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Adresszusatz</label>
                <input class="form-control" type="text" name="adresszusatz" placeholder="Adresszusatz">
            </div>
            <div class="form-group">
                <label>PLZ</label>
                <input class="form-control" type="text" name="plz" placeholder="PLZ" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Ort</label>
                <input class="form-control" type="text" name="ort" placeholder="Ort" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Website</label>
                <input class="form-control" type="text" name="website" placeholder="Website" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Erfassungsdatum</label>
                <input class="form-control" type="date" name="erfassungsdatum" placeholder="datum" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Land</label>
                <select name="land" id="land_select"  class="form-control">
                    <option>DE</option>
                    <option>CH</option>
                    <option>AT</option>
                </select>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Branche</label>
                <select name="branche" id="branch_select" class="form-control">
                </select>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
        </form>
        <form class="ansprechpartner_form disabled">
            <h4>Ansprechpartner</h4>
            <div class="form-group">
                <label>Name</label><br>
                <input class="form-control" type="text" name="name" placeholder="Name" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Anrede</label><br>
                <input type="radio" name="anrede" value="Herr"> Herr
                <input type="radio" name="anrede" value="Frau"> Frau
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Titel</label><br>
                <input class="form-control typeahead_title" type="text" name="titel" placeholder="Titel">
            </div>
            <div class="form-group">
                <label>Funktion</label><br>
                <input class="form-control" type="text" name="funktion" placeholder="Funktion">
            </div>
            <div class="form-group">
                <label>Email</label><br>
                <input class="form-control" type="email" name="email" placeholder="Email" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Fax</label><br>
                <input class="form-control" type="text" name="fax" placeholder="Fax">
            </div>
            <div class="form-group">
                <label>Telefon</label><br>
                <input class="form-control" type="text" name="telefon" placeholder="Telefon" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
        </form>
        <small class="form-text text-muted">Es muss mindestens ein Ansprechpartner geben , maximal 3</small>
        <input disabled type="checkbox" class="checkbox_ansprechpartner" id="ansprechpartner1_checkbox">Ansprechpartner hinzufügen<br>
        <input disabled type="checkbox" class="checkbox_ansprechpartner" id="ansprechpartner2_checkbox">Ansprechpartner hinzufügen
        <form class="ansprechpartner_form disabled" id="ansprechpartner_form_1">
            <h4>Ansprechpartner</h4>
            <div class="form-group">
                <label>Name</label><br>
                <input class="form-control" type="text" name="name" placeholder="Name" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Anrede</label><br>
                <input type="radio" name="anrede" value="Herr"> Herr
                <input type="radio" name="anrede" value="Frau"> Frau
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Titel</label><br>
                <input class="form-control typeahead_title" type="text" name="titel" placeholder="Titel">
            </div>
            <div class="form-group">
                <label>Funktion</label><br>
                <input class="form-control" type="text" name="funktion" placeholder="Funktion">
            </div>
            <div class="form-group">
                <label>Email</label><br>
                <input class="form-control" type="email" name="email" placeholder="Email" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Fax</label><br>
                <input class="form-control" type="text" name="fax" placeholder="Fax">
            </div>
            <div class="form-group">
                <label>Telefon</label><br>
                <input class="form-control" type="text" name="telefon" placeholder="Telefon" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
        </form>
        <form class="ansprechpartner_form disabled" id="ansprechpartner_form_2">
            <h4>Ansprechpartner</h4>
            <div class="form-group">
                <label>Name</label><br>
                <input class="form-control" type="text" name="name" placeholder="Name" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Anrede</label><br>
                <input type="radio" name="anrede" value="Herr"> Herr
                <input type="radio" name="anrede" value="Frau"> Frau
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Titel</label><br>
                <input class="form-control typeahead_title" type="text" name="titel" placeholder="Titel">
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Funktion</label><br>
                <input class="form-control" type="text" name="funktion" placeholder="Funktion">
        </div>
            <div class="form-group">
                <label>Email</label><br>
                <input class="form-control" type="email" name="email" placeholder="Email" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
            <div class="form-group">
                <label>Fax</label><br>
                <input class="form-control" type="text" name="fax" placeholder="Fax">
            </div>
            <div class="form-group">
                <label>Telefon</label><br>
                <input class="form-control" type="text" name="telefon" placeholder="Telefon" required>
                <small class="form-text text-muted">Pflichtfeld</small>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-lg-auto">
                <button id="submit_edit" class="btn btn-primary" disabled>Bearbeiten</button>
                <button id="cancel_submit" class="btn btn-danger" onclick="if(!confirm('Möchten Sie wirklick abbrechen?'))return false;else{window.location.replace('/')}">Abbrechen</button>
            </div>
        </div><br>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/populate.js') }}"></script>
<script>
    $(function(){
        var firms_list = [];
        disable_ansprechpartner_form();

        $.get( "/branch", function( branches ) {
            $.each(branches.branches, function(index, branch){
                $('select#branch_select').append($('<option>').text(branch))
            });
        });

        $.get( "/firms", function( firms ) {
            firms_list = Object.assign(firms);
            $('select#firm_name').empty();
            $.each(firms,function(index,firm){
                $('select#firm_name').append($('<option>').text(firm.name).attr('value',index));
            });
        });

        $('select#firm_name').on('change', function (e) {
            $("form#firm_form")[0].reset();
            $("form#firm_form").show();
            $('button#submit_edit').removeAttr('disabled');
            $.each($('input.checkbox_ansprechpartner'),function(){
                $(this).removeAttr("disabled");
                $(this).prop('checked',false);
            });
            $.each($('.ansprechpartner_form'),function(){
                $(this).addClass('disabled').removeClass('checked');
                disable_ansprechpartner_form();
                $(this)[0].reset();
            });
            var value_selected = this.value;
            $.each(firms_list,function(index,firm){
                if(index == value_selected){
                    for(var i=0; i<firm.ansprechpartner.length; i++){
                        $($('.ansprechpartner_form')[i]).removeClass('disabled').addClass('checked').populate(firm.ansprechpartner[i], {debug: true});
                        enable_ansprechpartner_form();
                        if(i>=1){
                            $('input.checkbox_ansprechpartner')[i-1].checked = true;
                        }
                    }
                    var temp_firm = jQuery.extend({}, firm);
                    delete temp_firm.ansprechpartner;
                    $("form#firm_form").populate(temp_firm);
                }
            });
        });

       $('input:checkbox#ansprechpartner1_checkbox').change(enable_disable_ans_form_1);
       $('input:checkbox#ansprechpartner2_checkbox').change(enable_disable_ans_form_2);

        $('button#submit_edit').on('click',function(){
            var result = parse_firm_obj_from_form();
            if(result.flag){
                $.ajax({
                    type: "PUT",
                    url: "/firm/edit",
                    data: JSON.stringify(result.firm_obj),
                    contentType: 'application/json',
                    dataType: 'json'
                    }).always(function(data){
                    if(data.status == 200)
                        window.location.replace("/?edit="+result.firm_obj.name);
                    else if(data.status == 500)
                        $('#server_error_modal').modal('show');
                });
            }else{
                $('#invalid_input_modal').modal('show');
            }
        });
    });
</script>
<script src="{{ url_for('static', filename='js/form_utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/typeahead_utils.js') }}"></script>
{% endblock %}

