<script id="firm_form_template" type="text/html">
  <form id="firm_form">
  <div class="form-group">
      <label>Firmenname</label>
      <input class="form-control" id="name-autocomplete" type="text" name="name" placeholder="Firmenname" required>
      <small class="form-text text-muted">Pflichtfeld</small>
      <label id="firm_name_error_label" class="error-custom" style="display:none;">Diese Firma existiert bereits, bitte wählen Sie einen anderen Namen aus</label>
  </div>
  <div class="form-group">
      <label>Branche</label>
      <select name="branche" id="branch_select" class="form-control">
      </select>
      <small class="form-text text-muted">Pflichtfeld</small>
  </div>
  <div class="form-group">
      <label>Straße</label>
      <input class="form-control" type="text" name="strasse_hnr" placeholder="Straße Hausnummer" required>
      <small class="form-text text-muted">Pflichtfeld</small>
  </div>
  <div class="form-group">
      <label>Adresszusatz</label>
      <input class="form-control" type="text" name="adresszusatz" placeholder="Adresszusatz">
  </div>
  <div class="form-group">
      <label>PLZ</label>
      <input class="form-control" type="text" name="plz" placeholder="PLZ" required>
      <small class="form-text text-muted">Pflichtfeld</small>
  </div>
  <div class="form-group">
      <label>Ort</label>
      <input class="form-control" type="text" name="ort" placeholder="Ort" required>
      <small class="form-text text-muted">Pflichtfeld</small>
  </div>
  <div class="form-group">
      <label>Land</label>
      <select name="land" id="land_select" class="form-control">
          <option>DE</option>
          <option>CH</option>
          <option>AT</option>
      </select>
      <small class="form-text text-muted">Pflichtfeld</small>
  </div>
  <div class="form-group">
      <label>Website</label>
      <input class="form-control" type="text" name="website" placeholder="http://www.beispiel.de" required>
      <small class="form-text text-muted">Pflichtfeld</small>
  </div>

</form>
</script>
