{% extends "base.html" %}
{% block content %}
    <meta id="edited" data-status="{{edit}}">
    <meta id="created" data-status="{{create}}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align:center;">Firmen bearbeiten und erstellen</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-auto">
                <button type="button" class="btn btn-secondary" onclick="window.location.replace('/create')">Eine Firma erstellen</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.replace('/edit')">Eine vorhandene Firma bearbeiten</button>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            if($('#edited').data().status == "" && $('#created').data().status == ""){
                //do nothing
            }else if($('#edited').data().status != ""){
                alert("Firma "+ $('#edited').data().status +" wurde erfolgreich bearbeitet");
            }else if($('#created').data() != ""){
                alert("Firma "+ $('#created').data().status +" wurde erfolgreich erstellt");
            }
        });
    </script>
{% endblock %}