<!--    MODALS     -->
<div id="server_error_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal_custom_content_container">
          Etwas ist schiefgelaufen, bitte versuchen Sie später erneut <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i>
      </div>
    </div>
  </div>
</div>

<div id="invalid_input_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal_custom_content_container">
          Bitte prüfen Sie ihre Eingaben <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
    <div class="alert alert-danger" id="ans_form_remove_confirm" role="alert">
        Ansprechpartner Formular wurde entfernt
    </div>
</div>
